#sidebar {
	background-color: #2ed39e;
	height: 100%;
	width: 190px;
	position: fixed;left: 0;top: 0
}

#minimonth{
	padding-left:20px;
	padding-top:30px;
	font-size:15px;
	color: white;
}

#MiniDayTable{	
	position: absolute;
	top:70px;
	left:18px;
	color: white;
	border-collapse: collapse;
}

.mith{
	font-size:10px;
	color:white;
	width:18px;
}

.mcol{
	background-color: #2bc493;
	font-size:10px
}

.mcolw{
	background-color: #ffffff;
	color: #2bc493;
	font-size:11px;
}

#Time {
	padding-left: 15px;
	position: absolute; top: 130px;
	font-size: 60px;
	color: #ffffff
}

#moreve {
	padding-left: 155px;
	position: absolute; top: 180px;
	font-size: 18px;
	color: #ffffff;
}

#TodayTitle {
	padding-left: 25px;
	position: absolute; top: 260px;
	color: #ffffff;
	font-size: 13px;
}

#TodaySchedule {
	position: absolute; bottom: 150px;
	width: 190px;
	height: 160px;
	background-color: #2bc493;
	color: #ffffff;
}

#WeatherTitle {
	padding-left: 25px;
	position: absolute; bottom: 95px;
	color: #ffffff;
	font-size: 13px;
}

#weather {
	position: absolute; bottom: 25px;
	width: 190px;
	height: 75px;
	background-color: #2bc493;
	color: #ffffff;
}

#maxtemp {
	padding-left: 80px;
	position: absolute; bottom: -6px;
	color: #ffffff;
	font-size: 30px;
}

#mintemp {
	padding-left: 120px;
	position: absolute;
	color: #ffffff;
	font-size: 20px;
}

#weatherIcon {

	padding-left: 25px;
	position: absolute; bottom: 80px;
	color: #ffffff;
}

#weatherType {

	padding-left: 20px;
	position: absolute; bottom: 5px;
	color: #ffffff;
	font-size: 15px;
}

#MonthAndYear {
	color: #2ed39e;
	padding-left: 37%;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e5e6e7;
	border-bottom-style: solid;
	padding-bottom: 5px;
}

#my {
	color: #2ed39e;
	padding-top: 0px;
	padding-left: 4px;
}

#MainCalendar {
	height: 100%;
	position: absolute;
	left: 190px;
	top: 0px;
	width: calc(100% - 190px);
	right: 50px;
}

#Calendar {
	padding-left: 20px;
}

#dayTable {
	width: calc(100% - 10px);
	top:0px;
	border-collapse: collapse;
}

.mth {
	height: 20px;
	font-size: 15px;
	vertical-align: bottom;
	color: #b3b3b3;
	text-align: left;
}

.col {
	
	width: calc((100%-190px)/7);
	border-right-style: solid;
	border-right-color: #e5e6e7;
	border-right-width: 2px;
	height: 100px;
	color: #b3b3b3;
	padding-top: 0px;
	padding-left: 0px;
	border-spacing: 0px;
	border-top-style: solid;
	border-top-color: #e5e6e7;
	border-top-width: 2px;
	vertical-align: top;
}

.darkBackground {
	
	background-color: #f8f8f8;
	width: calc((100%-190px)/7);
	border-right-style: solid;
	border-right-color: #e5e6e7;
	border-right-width: 2px;
	height: 100px;
	color: #b3b3b3;
	padding-top: 0px;
	padding-left: 0px;
	border-spacing: 0px;
	border-top-style: solid;
	border-top-color: #e5e6e7;
	border-top-width: 2px;
	vertical-align: top;
}

.darkBackground:hover {
	cursor: not-allowed;
}

.mdarkBackgroud{
	background-color: #2bc493;
	color: #2ed39e;	
}

.neweventDialog {
    display: none;
    position: absolute;
    z-index: 1;
    top:80px;
}

.neweventInfo {
    background-color: #fefefe;
    border: 1px solid #ff8787;
    width:250px;
    height:375px;
}

.close {
    font-size: 20px;
    top:2px;
    float:right;
    background-color:#ffffff;
    border:none;
    color:#b3b3b3    	
}

#dayndate{
	padding-left: 15px;
	color: #ff8787
}

.eventnamefield{
	position:absolute;
	left:15px;
	height:25px;
	font-size:15px;
	width:200px;
	padding-left:10px;
}

.locationfield{
	position:absolute;
	left:15px;
	top:90px;
	padding-left:10px;
	width:200px;
	height:20px;
}

.labelclass{
	position: absolute;
	left:15px;
	top:130px;
	font-size: 15px;
	padding-left: 10px;
	color:#b3b3b3;
}

#icons{
	position: absolute;
	top:15px;
	right:50px;
	color: #2ed39e;
}

#EventRectangle{
	position:absolute;
	width:500px;
	height:15px;
	border:1px solid #2ed39e;
	top:120px;
	left:210px;
	padding-left:2px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:15px;
	color:#2ed39e;
}

.eventDialog{
    display: none;
    position: absolute;
    z-index: 1;
    top:80px;
}

.eventInfo{
	background-color: #fefefe;
    border: 1px solid #ff8787;
    width:250px;
    height:375px;
}

#eventname{
	padding-left:20px;
	padding-top:10px;
}