#sidebar{
	
	background-color: #2ed39e;
	height: 100%;
	width: 190px;
	position: fixed;left: 0;top: 0
}

#Time{
	padding-left: 15px;
	position: absolute; top: 70px;
	font-size: 60px;
	color: #ffffff
}

#moreve{
	
	padding-left: 155px;
	position: absolute; top: 125px;
	font-size: 18px;
	color: #ffffff;
}

#TodayTitle{
	padding-left: 25px;
	position: absolute; top: 210px;
	color: #ffffff;
	font-size: 13px;
}

#TodaySchedule{

	position: absolute; bottom: 200px;
	width: 190px;
	height: 160px;
	background-color: #2bc493;
	color: #ffffff;
}

#WeatherTitle{
	padding-left: 25px;
	position: absolute; bottom: 120px;
	color: #ffffff;
	font-size: 13px;
}

#weather{	
	
	position: absolute; bottom: 50px;
	width: 190px;
	height: 75px;
	background-color: #2bc493;
	color: #ffffff;
}	

#maxtemp{
	padding-left: 80px;
	position: absolute; bottom: 50px;
	color: #ffffff;
	font-size: 30px;
}

#mintemp{
	padding-left: 120px;
	position: absolute; bottom: 65px;
	color: #ffffff;
	font-size: 20px;	
}

#weatherIcon{

	padding-left: 25px;
	position: absolute; bottom: 80px;
	color: #ffffff;
}

#weatherType{

	padding-left: 20px;
	position: absolute; bottom: 45px;
	color: #ffffff;
	font-size: 15px;
}

#MonthAndYear{	
	color: #2ed39e;
	padding-left: 37%;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #e5e6e7;
	border-bottom-style: solid;
	padding-bottom: 5px;
}

#my{
	color: #2ed39e;
	padding-top: 0px;
	padding-left: 4px;
}

#MainCalendar{
	height: 100%;
	position: absolute;
	left: 190px;
	top: 0px;
	width: calc(100% - 190px);
	right: 50px;
}

#Calendar{
	padding-left: 20px;
}

table{
	width: calc(100% - 10px);
	top:0px;
	border-collapse: collapse;
}

th{
	height: 20px;
	font-size: 15px;
	vertical-align: bottom;
	color: #b3b3b3;
	text-align: left;
}

td{
	height: 100px;
	color: #b3b3b3;
	padding-top: 0px;
	padding-left: 0px;
	border-spacing: 0px;
	border-top-style: solid;
	border-top-color: #e5e6e7;
	border-top-width: 2px;
	vertical-align: top;
	font-style: 
}

.col1{
	width: calc((100%-190px)/7);
	border-right-style: solid;
	border-right-color: #e5e6e7;
	border-right-width: 2px;
	height: calc(100%5);
}
.col2{
	width: calc((100%-190px)/7);
	border-right-style: solid;
	border-right-color: #e5e6e7;
	border-right-width: 2px;
}
.col3{
	width: calc((100%-190px)/7);
	border-right-style: solid;
	border-right-color: #e5e6e7;
	border-right-width: 2px;
}
.col4{
	width: calc((100%-190px)/7);
	border-right-style: solid;
	border-right-color: #e5e6e7;
	border-right-width: 2px;
}
.col5{
	width: calc((100%-190px)/7);
	border-right-style: solid;
	border-right-color: #e5e6e7;
	border-right-width: 2px;
}
.col6{
	width: calc((100%-190px)/7);
	border-right-style: solid;
	border-right-color: #e5e6e7;
	border-right-width: 2px;
}
.col7{
	border-right-width: 2px;
}